@font-face {
  font-display: swap;
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/chivo-v18-latin-regular.woff2");
}

@font-face {
  font-display: swap;
  font-family: "Hacked";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Hacked-KerX.ttf");
}

:root {
  --bg: #191919;
  --bgSoft: #7c7c7c;
  --text: #ffffff;
  --textSoft: #e0e0e0;
  --halo-glow: #ffffff;
  scrollbar-color: grey #232323;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Chivo";
  transition: 1s all;
}

body.light {
  --bg: #ffffff;
  --text: #191919;
  --halo-glow: #d6bc2a;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1366px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media (max-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .listItemImage {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .links {
    font-size: 14px;
  }
  .listItemImage {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .searchButton span,
  .rightBarImage,
  .social,
  .links {
    display: none;
  }
  .navbar {
    justify-content: center;
  }

  .listItem {
    flex-direction: column;
  }
  .navbar {
    height: 70px;
  }

  .singleContent {
    flex: 30;
  }

  .footer {
    font-size: 11px;
  }
}
